<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>note-page</title>
  <%- include('./components/header') %>
</head>

<body>
  <div class="container">
  <div class="col-lg-4">
    <div class="card bg-warning m-3" data-idc="${id}">
      <div class="card-body" style="cursor: pointer" data-id="${id}">
        <div class="text-right">
          <button type="button" data-id="${id}" class="btn btn-danger alert-link badge-pill">X</button>
        </div>
        <div class="form-group">
          <label for="note-title">Title</label>
          <input type="text" class="form-control" id="note-title" value="">
        </div>
        <div class="form-group">
          <label for="note-text">Text</label>
          <textarea class="form-control" id="note-text" rows="3"></textarea>
          <button class="btn btn-primary badge-pill save-btn mt-3" data-id="${id}">Save</button>
        </div>
      </div>
    </div>`
  </div>
</div>

<!-- <script src="../script/index.js"></script> -->
</body>

</html>